<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
  <ul>
             <li>
                <a href="/platform/application-service-windows/<%= vars.current_major_version.sub('.', '-') %>/index.html">PAS for Windows</a>
             </li>

             <li>
                <a href="/platform/application-service-windows/<%= vars.current_major_version.sub('.', '-') %>/architecture.html">Product Architecture</a>
             </li>

             <li class="">
                <a href="/platform/application-service-windows/<%= vars.current_major_version.sub('.', '-') %>/stemcells.html">Downloading or Creating Windows Stemcells</a>
             </li>

             <li class="">
                <a href="/platform/application-service-windows/<%= vars.current_major_version.sub('.', '-') %>/create-vsphere-stemcell-manually.html">Creating a Windows Stemcell for vSphere Manually</a>
             </li>

             <li class="">
                <a href="/platform/application-service-windows/<%= vars.current_major_version.sub('.', '-') %>/create-vsphere-stemcell-automatically.html">Creating a Windows Stemcell for vSphere Using stembuild (Beta)</a>
             </li>

             <li class="">
                <a href="/platform/application-service-windows/<%= vars.current_major_version.sub('.', '-') %>/installing.html">Installing and Configuring PASW</a>
             </li>

             <li class="">
                <a href="/platform/application-service-windows/<%= vars.current_major_version.sub('.', '-') %>/isolation.html">Windows Cells in Isolation Segments</a>
             </li>

             <li class="">
                <a href="/platform/application-service-windows/<%= vars.current_major_version.sub('.', '-') %>/upgrade-2012r2-to-pasw.html">Migrating from PASW 2012 R2 to PASW</a>
             </li>

             <li class="">
                <a href="/platform/application-service-windows/<%= vars.current_major_version.sub('.', '-') %>/migrating.html">Migrating Apps to PAS for Windows</a>
             </li>

             <li class="">
                <a href="/platform/application-service-windows/<%= vars.current_major_version.sub('.', '-') %>/upgrade-windows.html">Upgrading Windows Cells</a>
             </li>

             <li class="">
                <a href="/platform/application-service-windows/<%= vars.current_major_version.sub('.', '-') %>/develop.html">Deploying .NET Apps</a>
             </li>

             <li class="">
                <a href="/platform/application-service-windows/<%= vars.current_major_version.sub('.', '-') %>/smb-volumes-apps.html">Using SMB Volumes in .NET Apps</a>
             </li>

             <li class="">
                <a href="/platform/application-service-windows/<%= vars.current_major_version.sub('.', '-') %>/using.html">Tips for .NET Developers</a>
             </li>

         <li class="">
            <a href="/platform/application-service-windows/<%= vars.current_major_version.sub('.', '-') %>/troubleshooting.html">Troubleshooting Windows Cells</a>
            <hr>
         </li>
            
         <li>
        <a href="https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>"><strong>Back to Main Pivotal Platform Documentation</strong></a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
